<div class="nav-tabs-custom">
            <!-- Tabs within a box -->
             
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
               <iframe width="620" height="450" src="https://app.powerbi.com/view?r=eyJrIjoiZjNhNjg5Y2QtYTVhNy00MDg0LWFhNTYtMzliNWJhMjVkMWRkIiwidCI6ImYwNjA4MDQxLTU1ZGMtNDJjNS1iY2FkLTUzNjIzZTFhY2FlNCIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
               
            </div>
          </div>